/* Estilos para a página de cadastro de veículos */
.container {
    margin-top: 20px;
}

.columns {
    margin-bottom: 20px;
}

.field {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}
